* {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    background-color: #354A5f;
}

img {
    width: 200px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

select {
    width: 110px;
    height: 20px;
    text-align: center;
    background-color: #b8b8b8;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#container-game {
    margin: 0 auto;
    max-width: 350px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#board {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.house {
    width: 110px;
    height: 110px;
    margin: 3px 3px;
    font-size: 80px;
    text-align: center;
    padding-top: 10px;
    border-radius: 4px;
    background-color: #1E2264;
}

.house:hover {
    background-color: #F1CD36;
}

#winner {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b8b8b8;
}

#restart {
    position: absolute;
    bottom: 6%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b8b8b8;
}